.christmas-avatar-container {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.christmas-hat {
  position: absolute;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cpath fill='%23e74c3c' d='M56 14c-3-3-8-3-11 0l-2 2C37 11 29 9 21 10 10 11 2 19 2 30c0 2 0 4 0 6 0 9 7 16 16 16h28c9 0 16-7 16-16 0-8-6-15-14-16l2-2c3-3 3-8 0-10z'/%3E%3Ccircle cx='52' cy='12' r='6' fill='%23fff'/%3E%3Cpath fill='%23fff' d='M18 52h32c2 0 4-2 4-4s-2-4-4-4H18c-2 0-4 2-4 4s2 4 4 4z'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
  z-index: 10;
  transform: rotate(-10deg);
  filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.2));
  transform-origin: bottom center;
}
