# Django Settings
DEBUG=True
SECRET_KEY='secret-key-for-django'
ALLOWED_HOSTS=localhost,127.0.0.1

# Database
DB_NAME=your-db-name
DB_HOST=your-db-host
DB_PORT=your-db-port
DB_USER=your-db-username
DB_PASSWORD=your-db-password

# Redis (for WebSocket / Django Channels)
USE_REDIS=false
REDIS_HOST=127.0.0.1
REDIS_PORT=6379

# Email
EMAIL_HOST_USER=your-email@example.com
EMAIL_HOST_PASSWORD=your-email-password-or-app-password
DEFAULT_FROM_EMAIL=no-reply@your-domain.com

# Cloudinary
CLOUDINARY_CLOUD_NAME=your-cloudinary-cloud-name
CLOUDINARY_API_KEY=your-cloudinary-api-key
CLOUDINARY_API_SECRET=your-cloudinary-api-secret

# Google AI (Gemini)
AI_API_KEY=your-google-gemini-api-key